name: GitHub Classroom Workflow
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    name: Autograding
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # TODO build, test and deploy project
      - name: Setup .NET SDK 
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 6.0.x
      
      - name: Install dependencies
        run: dotnet restore src/Persons.Service/Persons.Service.sln
      
      - name: Build
        run: dotnet publish src/Persons.Service/Persons.Gateway/Persons.Gateway.csproj -c Release -o PersonsGatewayPublish --no-restore
      
      - name: Test
        run:  dotnet test src/Persons.Service/Persons.Tests/Persons.Tests.csproj --no-restore --verbosity normal
      
      - name: Upload dotnet test results
        uses: actions/upload-artifact@v3
        with:
          name: dotnet-results
          path: TestResults
        # Use always() to always run this step to publish test results when there are test failures
        if: ${{ always() }}

      - name: Deploy project
        uses: akhileshns/heroku-deploy@v3.4.6
        with:
          heroku_api_key: bd3e897f-c8bd-4c15-b1ee-81f06e604e80 #${{secrets.HEROKU_API_KEY}}
          heroku_app_name: rsoi-lab01-2022
          heroku_email: maxkozlov22@yandex.ru
          usedocker: true

      - name: Run API Tests
        uses: matt-ball/newman-action@master
        with:
          collection: postman/[inst] Lab1.postman_collection.json
          environment: postman/[inst][heroku] Lab1.postman_environment.json
          delayRequest: 100
          reporters: '[ "cli" ]'

      # - name: Autograding
      #   uses: education/autograding@v1
      #   continue-on-error: true

      # - name: Github auto grader mark
      #   uses: Romanow/google-sheet-autograder-marker@v1.0
      #   with:
      #     google_token: ${{secrets.GOOGLE_API_KEY}}
      #     sheet_id: "1xkgjUX6Qmk7rdJG-QPOToav-HWWtthJjnShIKnw3oIY"
      #     homework_number: 1
      #     user_column: 'D'
      #     column_offset: 'F'
      #     mark: "'+"